<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    Community
</header>

<nav>
    <a href="/" style="margin-left: 30px; color: white;">홈</a>
    <a href="/board/paging" style="margin-left: 30px; color: white;">게시판</a>
    <a href="/board/save" style="margin-left: 30px; color: white;">게시글 업로드</a>
</nav>

<section>
  <h3 style="text-align: center; margin-top: 30px">Welcome!</h3>
    <img src="/image/community.jpg">


</section>

<footer>
    Copyrightⓒ2024 All rights reserved.
</footer>

<!--<button onclick="saveReq()">글쓰기</button>-->
<!--<button onclick="pagingReq()">게시판 홈</button>-->
</body>



</html>